<a href="https://colab.research.google.com/github/Rintamo/Code/blob/main/Assignment_2_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#import libraries here
import numpy as np
import pandas as pd

In [ ]:
np.genfromtxt('data.csv', delimiter="," ,names=True , missing_values=3.5)

array([( 60., 110., 130.,  409.1), ( 60., 117., 145.,  479. ),
       ( 60., 103., 135.,  340. ), ( 45., 109., 175.,  282.4),
       ( 45., 117., 148.,  406. ), ( 60., 102., 127.,  300. ),
       ( 60., 110., 136.,  374. ), ( 45., 104., 134.,  253.3),
       ( 30., 109., 133.,  195.1), ( 60.,  98., 124.,  269. ),
       ( 60., 103., 147.,  329.3), ( 60., 100., 120.,  250.7),
       ( 60., 106., 128.,  345.3), ( 60., 104., 132.,  379.3),
       ( 60.,  98., 123.,  275. ), ( 60.,  98., 120.,  215.2),
       ( 60., 100., 120.,  300. ), ( 45.,  90., 112.,    nan),
       ( 60., 103., 123.,  323. ), ( 45.,  97., 125.,  243. ),
       ( 60., 108., 131.,  364.2), ( 45.,  nan, 119.,  282. ),
       ( 60., 130., 101.,  300. ), ( 45., 105., 132.,  246. ),
       ( 60., 102., 126.,  334.5), ( 60., 100., 120.,  250. ),
       ( 60.,  92., 118.,  241. ), ( 60., 103., 132.,    nan),
       ( 60., 100., 132.,  280. ), ( 60., 102., 129.,  380.3),
       ( 60.,  92., 115.,  243. ), ( 45.,  90., 112.,  180.1),
       ( 60., 101., 124.,  299. ), ( 60.,  93., 113.,  223. ),
       ( 60., 107., 136.,  361. ), ( 60., 114., 140.,  415. ),
       ( 60., 102., 127.,  300. ), ( 60., 100., 120.,  300. ),
       ( 60., 100., 120.,  300. ), ( 45., 104., 129.,  266. ),
       ( 45.,  90., 112.,  180.1), ( 60.,  nan, 126.,  286. ),
       ( 60., 100., 122.,  329.4), ( 60., 111., 138.,  400. ),
       ( 60., 111., 131.,  397. ), ( 60.,  99., 119.,  273. ),
       ( 60., 109., 153.,  387.6), ( 45., 111., 136.,  300. ),
       ( 45., 108., 129.,  298. ), ( 60., 111., 139.,  397.6),
       ( 60., 107., 136.,  380.2), ( 80., 123., 146.,  643.1),
       ( 60., 106., 130.,  263. ), ( 60., 118., 151.,  486. ),
       ( 30., 136., 175.,  238. ), ( 60., 121., 146.,  450.7),
       ( 60., 118., 121.,  413. ), ( 45., 115., 144.,  305. ),
       ( 20., 153., 172.,  226.4), ( 45., 123., 152.,  321. ),
       (210., 108., 160., 1376. ), (160., 110., 137., 1034.4),
       (160., 109., 135.,  853. ), ( 45., 118., 141.,  341. ),
       ( 20., 110., 130.,  131.4), (180.,  90., 130.,  800.4),
       (150., 105., 135.,  873.4), (150., 107., 130.,  816. ),
       ( 20., 106., 136.,  110.4), (300., 108., 143., 1500.2),
       (150.,  97., 129., 1115. ), ( 60., 109., 153.,  387.6),
       ( 90., 100., 127.,  700. ), (150.,  97.,  nan,  953.2),
       ( 45., 114., 146.,  304. ), ( 90.,  98., 125.,  563.2),
       ( 45., 105., 134.,  251. ), ( 45., 110., 141.,  300. ),
       (120., 100., 130.,  500.4), (270., 100., 131., 1729. ),
       ( 30., 159., 182.,  319.2), ( 45.,  nan, 169.,  344. ),
       ( 30., 103., 139.,  151.1), (120., 100., 130.,  500. ),
       ( 45., 100., 120.,  225.3), ( 30., 151., 170.,  300. ),
       ( 45., 102., 136.,  234. ), (120., 100., 157., 1000.1),
       ( 45., 129.,  nan,  242. ), ( 20.,  83., 107.,   50.3),
       (180., 101., 127.,  600.1), ( 45., 107., 137.,    nan),
       ( 30.,  90., 107.,  105.3), ( 15.,  80., 100.,   50.5),
       ( 20., 150., 171.,  127.4), ( 20., 151., 168.,  229.4),
       ( 30.,  95., 128.,  128.2), ( 25., 152., 168.,  244.2),
       ( 30., 109., 131.,  188.2), ( 90.,  93., 124.,  604.1),
       ( 20.,  95., 112.,   77.7), ( 90.,  90., 110.,  500. ),
       ( 90.,  90., 100.,  500. ), ( 90.,  90., 100.,  500.4),
       ( 30.,  92., 108.,   92.7), ( 30.,  93., 128.,  124. ),
       (180.,  90., 120.,  800.3), ( 30.,  90., 120.,   86.2),
       ( 90.,  90., 120.,  500.3), (210., 137., 184., 1860.4),
       ( 60., 102., 124.,  325.2), ( 45., 107., 124.,  275. ),
       ( 15., 124., 139.,  124.2), ( 45., 100., 120.,  225.3),
       ( 60., 108., 131.,  367.6), ( 60., 108., 151.,  351.7),
       ( 60., 116., 141.,  443. ), ( 60.,  97., 122.,  277.4),
       ( 60., 105., 125.,    nan), ( 60., 103., 124.,  332.7),
       ( 30., 112., 137.,  193.9), ( 45.,  nan, 120.,  100.7),
       ( 60., 119., 169.,  336.7), ( 60., 107., 127.,  344.9),
       ( 60., 111., 151.,  368.5), ( 60.,  98., 122.,  271. ),
       ( 60.,  97., 124.,  275.3), ( 60., 109., 127.,  382. ),
       ( 90.,  99., 125.,  466.4), ( 60., 114., 151.,  384. ),
       ( 60., 104., 134.,  342.5), ( 60., 107., 138.,  357.5),
       ( 60., 103., 133.,  335. ), ( 60., 106., 132.,  327.5),
       ( 60., 103.,  nan,  339. ), ( 20., 136., 156.,  189. ),
       ( 45., 117., 143.,  317.7), ( 45., 115., 137.,  318. ),
       ( 45., 113., 138.,  308. ), ( 20., 141., 162.,  222.4),
       ( 60., 108., 135.,  390. ), ( 60.,  97., 127.,    nan),
       ( 45., 100., 120.,  250.4), ( 45., 122., 149.,  335.4),
       ( 60., 136., 170.,  470.2), ( 45., 106., 126.,  270.8),
       ( 60., 107., 136.,  400. ), ( 60., 112., 146.,  361.9),
       ( 30., 103., 127.,  185. ), ( 60., 110., 150.,  409.4),
       ( 60., 106., 134.,  343. ), ( 60., 109., 129.,  353.2),
       ( 60., 109., 138.,  374. ), ( 30., 150., 167.,  275.8),
       ( 60.,  nan, 128.,  328. ), ( 60., 111., 151.,  368.5),
       ( 60.,  97., 131.,  270.4), ( 60., 100., 120.,  270.4),
       ( 60., 114., 150.,  382.8), ( 30.,  80., 120.,  240.9),
       ( 30.,  85., 120.,  250.4), ( 45.,  90., 130.,  260.4),
       ( 45.,  95.,  nan,  270. ), ( 45., 100., 140.,  280.9),
       ( 60., 105., 140.,  290.8), ( 60., 110., 145.,  300. ),
       ( 60., 115., 145.,  310.2), ( 75., 120., 150.,  320.4),
       ( 75., 125., 150.,  330.4)],
      dtype=[('Duration', '<f8'), ('Pulse', '<f8'), ('Maxpulse', '<f8'), ('Calories', '<f8')])

In [5]:
import numpy as np
# Q1:Read the  data.csv using numpy.
# hint: use np.genfromtxt() function in numpy. You also need to define columns names

#Write your code here
data = np.genfromtxt("data.csv", delimiter="," ,names=True, filling_values=3)
data

array([( 60., 110., 130.,  409.1), ( 60., 117., 145.,  479. ),
       ( 60., 103., 135.,  340. ), ( 45., 109., 175.,  282.4),
       ( 45., 117., 148.,  406. ), ( 60., 102., 127.,  300. ),
       ( 60., 110., 136.,  374. ), ( 45., 104., 134.,  253.3),
       ( 30., 109., 133.,  195.1), ( 60.,  98., 124.,  269. ),
       ( 60., 103., 147.,  329.3), ( 60., 100., 120.,  250.7),
       ( 60., 106., 128.,  345.3), ( 60., 104., 132.,  379.3),
       ( 60.,  98., 123.,  275. ), ( 60.,  98., 120.,  215.2),
       ( 60., 100., 120.,  300. ), ( 45.,  90., 112.,    3. ),
       ( 60., 103., 123.,  323. ), ( 45.,  97., 125.,  243. ),
       ( 60., 108., 131.,  364.2), ( 45.,   3., 119.,  282. ),
       ( 60., 130., 101.,  300. ), ( 45., 105., 132.,  246. ),
       ( 60., 102., 126.,  334.5), ( 60., 100., 120.,  250. ),
       ( 60.,  92., 118.,  241. ), ( 60., 103., 132.,    3. ),
       ( 60., 100., 132.,  280. ), ( 60., 102., 129.,  380.3),
       ( 60.,  92., 115.,  243. ), ( 45.,  90., 112.,  180.1),
       ( 60., 101., 124.,  299. ), ( 60.,  93., 113.,  223. ),
       ( 60., 107., 136.,  361. ), ( 60., 114., 140.,  415. ),
       ( 60., 102., 127.,  300. ), ( 60., 100., 120.,  300. ),
       ( 60., 100., 120.,  300. ), ( 45., 104., 129.,  266. ),
       ( 45.,  90., 112.,  180.1), ( 60.,   3., 126.,  286. ),
       ( 60., 100., 122.,  329.4), ( 60., 111., 138.,  400. ),
       ( 60., 111., 131.,  397. ), ( 60.,  99., 119.,  273. ),
       ( 60., 109., 153.,  387.6), ( 45., 111., 136.,  300. ),
       ( 45., 108., 129.,  298. ), ( 60., 111., 139.,  397.6),
       ( 60., 107., 136.,  380.2), ( 80., 123., 146.,  643.1),
       ( 60., 106., 130.,  263. ), ( 60., 118., 151.,  486. ),
       ( 30., 136., 175.,  238. ), ( 60., 121., 146.,  450.7),
       ( 60., 118., 121.,  413. ), ( 45., 115., 144.,  305. ),
       ( 20., 153., 172.,  226.4), ( 45., 123., 152.,  321. ),
       (210., 108., 160., 1376. ), (160., 110., 137., 1034.4),
       (160., 109., 135.,  853. ), ( 45., 118., 141.,  341. ),
       ( 20., 110., 130.,  131.4), (180.,  90., 130.,  800.4),
       (150., 105., 135.,  873.4), (150., 107., 130.,  816. ),
       ( 20., 106., 136.,  110.4), (300., 108., 143., 1500.2),
       (150.,  97., 129., 1115. ), ( 60., 109., 153.,  387.6),
       ( 90., 100., 127.,  700. ), (150.,  97.,   3.,  953.2),
       ( 45., 114., 146.,  304. ), ( 90.,  98., 125.,  563.2),
       ( 45., 105., 134.,  251. ), ( 45., 110., 141.,  300. ),
       (120., 100., 130.,  500.4), (270., 100., 131., 1729. ),
       ( 30., 159., 182.,  319.2), ( 45.,   3., 169.,  344. ),
       ( 30., 103., 139.,  151.1), (120., 100., 130.,  500. ),
       ( 45., 100., 120.,  225.3), ( 30., 151., 170.,  300. ),
       ( 45., 102., 136.,  234. ), (120., 100., 157., 1000.1),
       ( 45., 129.,   3.,  242. ), ( 20.,  83., 107.,   50.3),
       (180., 101., 127.,  600.1), ( 45., 107., 137.,    3. ),
       ( 30.,  90., 107.,  105.3), ( 15.,  80., 100.,   50.5),
       ( 20., 150., 171.,  127.4), ( 20., 151., 168.,  229.4),
       ( 30.,  95., 128.,  128.2), ( 25., 152., 168.,  244.2),
       ( 30., 109., 131.,  188.2), ( 90.,  93., 124.,  604.1),
       ( 20.,  95., 112.,   77.7), ( 90.,  90., 110.,  500. ),
       ( 90.,  90., 100.,  500. ), ( 90.,  90., 100.,  500.4),
       ( 30.,  92., 108.,   92.7), ( 30.,  93., 128.,  124. ),
       (180.,  90., 120.,  800.3), ( 30.,  90., 120.,   86.2),
       ( 90.,  90., 120.,  500.3), (210., 137., 184., 1860.4),
       ( 60., 102., 124.,  325.2), ( 45., 107., 124.,  275. ),
       ( 15., 124., 139.,  124.2), ( 45., 100., 120.,  225.3),
       ( 60., 108., 131.,  367.6), ( 60., 108., 151.,  351.7),
       ( 60., 116., 141.,  443. ), ( 60.,  97., 122.,  277.4),
       ( 60., 105., 125.,    3. ), ( 60., 103., 124.,  332.7),
       ( 30., 112., 137.,  193.9), ( 45.,   3., 120.,  100.7),
       ( 60., 119., 169.,  336.7), ( 60., 107., 127.,  344.9),
       ( 60., 111., 151.,  368.5), ( 60.,  98., 122.,  271. ),
       ( 60.,  97., 124.,  275.3), ( 60., 109., 127.,  382. ),
       ( 90.,  99., 125.,  466.4), ( 60., 114., 151.,  384. ),
       ( 60., 104., 134.,  342.5), ( 60., 107., 138.,  357.5),
       ( 60., 103., 133.,  335. ), ( 60., 106., 132.,  327.5),
       ( 60., 103.,   3.,  339. ), ( 20., 136., 156.,  189. ),
       ( 45., 117., 143.,  317.7), ( 45., 115., 137.,  318. ),
       ( 45., 113., 138.,  308. ), ( 20., 141., 162.,  222.4),
       ( 60., 108., 135.,  390. ), ( 60.,  97., 127.,    3. ),
       ( 45., 100., 120.,  250.4), ( 45., 122., 149.,  335.4),
       ( 60., 136., 170.,  470.2), ( 45., 106., 126.,  270.8),
       ( 60., 107., 136.,  400. ), ( 60., 112., 146.,  361.9),
       ( 30., 103., 127.,  185. ), ( 60., 110., 150.,  409.4),
       ( 60., 106., 134.,  343. ), ( 60., 109., 129.,  353.2),
       ( 60., 109., 138.,  374. ), ( 30., 150., 167.,  275.8),
       ( 60.,   3., 128.,  328. ), ( 60., 111., 151.,  368.5),
       ( 60.,  97., 131.,  270.4), ( 60., 100., 120.,  270.4),
       ( 60., 114., 150.,  382.8), ( 30.,  80., 120.,  240.9),
       ( 30.,  85., 120.,  250.4), ( 45.,  90., 130.,  260.4),
       ( 45.,  95.,   3.,  270. ), ( 45., 100., 140.,  280.9),
       ( 60., 105., 140.,  290.8), ( 60., 110., 145.,  300. ),
       ( 60., 115., 145.,  310.2), ( 75., 120., 150.,  320.4),
       ( 75., 125., 150.,  330.4)],
      dtype=[('Duration', '<f8'), ('Pulse', '<f8'), ('Maxpulse', '<f8'), ('Calories', '<f8')])

In [13]:
#Q2: Create a numpy array by selecting pulse column from the dataset and name it "Pulse"
Pulse = data['Pulse']
p2 = np.array(Pulse)
p2

array([110., 117., 103., 109., 117., 102., 110., 104., 109.,  98., 103.,
       100., 106., 104.,  98.,  98., 100.,  90., 103.,  97., 108.,   3.,
       130., 105., 102., 100.,  92., 103., 100., 102.,  92.,  90., 101.,
        93., 107., 114., 102., 100., 100., 104.,  90.,   3., 100., 111.,
       111.,  99., 109., 111., 108., 111., 107., 123., 106., 118., 136.,
       121., 118., 115., 153., 123., 108., 110., 109., 118., 110.,  90.,
       105., 107., 106., 108.,  97., 109., 100.,  97., 114.,  98., 105.,
       110., 100., 100., 159.,   3., 103., 100., 100., 151., 102., 100.,
       129.,  83., 101., 107.,  90.,  80., 150., 151.,  95., 152., 109.,
        93.,  95.,  90.,  90.,  90.,  92.,  93.,  90.,  90.,  90., 137.,
       102., 107., 124., 100., 108., 108., 116.,  97., 105., 103., 112.,
         3., 119., 107., 111.,  98.,  97., 109.,  99., 114., 104., 107.,
       103., 106., 103., 136., 117., 115., 113., 141., 108.,  97., 100.,
       122., 136., 106., 107., 112., 103., 110., 106., 109., 109., 150.,
         3., 111.,  97., 100., 114.,  80.,  85.,  90.,  95., 100., 105.,
       110., 115., 120., 125.])

In [11]:
#Q3 Create a numpy array by selecting Maxpulse column from the dataset and name it "MaxPulse"
Maxpulse = data['Maxpulse']
print(Maxpulse)

[130. 145. 135. 175. 148. 127. 136. 134. 133. 124. 147. 120. 128. 132.
 123. 120. 120. 112. 123. 125. 131. 119. 101. 132. 126. 120. 118. 132.
 132. 129. 115. 112. 124. 113. 136. 140. 127. 120. 120. 129. 112. 126.
 122. 138. 131. 119. 153. 136. 129. 139. 136. 146. 130. 151. 175. 146.
 121. 144. 172. 152. 160. 137. 135. 141. 130. 130. 135. 130. 136. 143.
 129. 153. 127.   3. 146. 125. 134. 141. 130. 131. 182. 169. 139. 130.
 120. 170. 136. 157.   3. 107. 127. 137. 107. 100. 171. 168. 128. 168.
 131. 124. 112. 110. 100. 100. 108. 128. 120. 120. 120. 184. 124. 124.
 139. 120. 131. 151. 141. 122. 125. 124. 137. 120. 169. 127. 151. 122.
 124. 127. 125. 151. 134. 138. 133. 132.   3. 156. 143. 137. 138. 162.
 135. 127. 120. 149. 170. 126. 136. 146. 127. 150. 134. 129. 138. 167.
 128. 151. 131. 120. 150. 120. 120. 130.   3. 140. 140. 145. 145. 150.
 150.]

In [17]:
#Q4 Add Pulse and MaxPulsey using np.sum() and np.add()
#What is the difference between summation and addition?
#declare a new variable and save the result of np.add() 


Summation = np.sum([Pulse,Maxpulse])
print("Np.Sum = ", Summation)
Addition = (np.add(Pulse,Maxpulse))
print("Np.Add = " , Addition)
#With sum it combines every value from both data sets . 
#With add it adds each values from its respective column and row

Np.Sum =  39794.0
Np.Add =  [240. 262. 238. 284. 265. 229. 246. 238. 242. 222. 250. 220. 234. 236.
 221. 218. 220. 202. 226. 222. 239. 122. 231. 237. 228. 220. 210. 235.
 232. 231. 207. 202. 225. 206. 243. 254. 229. 220. 220. 233. 202. 129.
 222. 249. 242. 218. 262. 247. 237. 250. 243. 269. 236. 269. 311. 267.
 239. 259. 325. 275. 268. 247. 244. 259. 240. 220. 240. 237. 242. 251.
 226. 262. 227. 100. 260. 223. 239. 251. 230. 231. 341. 172. 242. 230.
 220. 321. 238. 257. 132. 190. 228. 244. 197. 180. 321. 319. 223. 320.
 240. 217. 207. 200. 190. 190. 200. 221. 210. 210. 210. 321. 226. 231.
 263. 220. 239. 259. 257. 219. 230. 227. 249. 123. 288. 234. 262. 220.
 221. 236. 224. 265. 238. 245. 236. 238. 106. 292. 260. 252. 251. 303.
 243. 224. 220. 271. 306. 232. 243. 258. 230. 260. 240. 238. 247. 317.
 131. 262. 228. 220. 264. 200. 205. 220.  98. 240. 245. 255. 260. 270.
 275.]

In [ ]:
#Q5 Find and print all the indexes where Pulse = 100
p_indexes = np.where(Pulse == 100)[0]
print(p_indexes)

[ 11  16  25  28  37  38  42  72  78  79  83  84  87 113 142 157 163]

In [6]:
#Q6 Filter rows where Pulse is greater than 130 and Calories are greate than 400
filter_rows = data[(data['Pulse'] > 130)  & (data['Calories'] > 400)]
print(filter_rows)

[(210., 137., 184., 1860.4) ( 60., 136., 170.,  470.2)]

In [21]:
# Pandas exercise

#Q7 Create three Pandas series from numpyarray. Create three numpy arrays by selecting column 2,3,4 from the dataset. 
pulse_series = pd.Series(data["Pulse"],name ='Pulse')
maxpulse_series = pd.Series(data["Maxpulse"],name ='Maxpulse')
calories_series = pd.Series(data["Calories"],name ='Calories')
print(pulse_series)
#Q8 Create a new dataframe 'df' from pandas series which were created in Q7
df1 = pd.DataFrame({'Pulse' : pulse_series,'MaxPulse': maxpulse_series,'Calories':calories_series})
df1.head()

0      110.0
1      117.0
2      103.0
3      109.0
4      117.0
       ...
164    105.0
165    110.0
166    115.0
167    120.0
168    125.0
Name: Pulse, Length: 169, dtype: float64

   Pulse  MaxPulse  Calories
0  110.0     130.0     409.1
1  117.0     145.0     479.0
2  103.0     135.0     340.0
3  109.0     175.0     282.4
4  117.0     148.0     406.0

In [28]:
#Q9 Read nycflights.csv file using pandas. Create a new dataframe by selecting dep_time, dep_delay, arr_time, arr_delay, tailnum
# and name it newyork_flight_new. Display with the first fice entries
df2 = pd.read_csv("nycflights.csv")

newyork_flight_new = df2[["dep_time","dep_delay","arr_time", "arr_delay","tailnum"]]
#show the first five entries
newyork_flight_new.head()

   dep_time  dep_delay  arr_time  arr_delay tailnum
0       940       15.0      1216         -4  N626VA
1      1657       -3.0      2104         10  N3760C
2       859       -1.0      1238         11  N712TW
3      1841       -4.0      2122        -34  N914DL
4      1102       -3.0      1230         -8  N823AY

In [23]:
#Q10 Filter newyork_flight_new by selecting rows where departure time is greater than 2000 and name it dep_time_2000.
# How many rows were deleted? 
dep_time_2000 = newyork_flight_new[(newyork_flight_new ['dep_time'] > 2000)]
dep_time_2000
#29,166 rows were deleted

       dep_time  dep_delay  arr_time  arr_delay tailnum
13         2054      115.0      2256         91  N919AT
15         2024       37.0      2141         29  N17115
23         2310        3.0       201        127  N506JB
27         2253      123.0         5        101  N14562
38         2231      121.0      2332         96  N8488D
...         ...        ...       ...        ...     ...
32672      2217       47.0       140         73  N516JB
32694      2100       20.0      2213         13  N817MQ
32703      2301       92.0         1         81  N76517
32709      2312        NaN       220        214  N529UA
32710      2221       26.0       118         32  N651JB

[3569 rows x 5 columns]

In [25]:
#Q11 Do we have any missing values in dep_delay? If yes replace the missing values with the median of dep_delay.
#Hint: replace the missing values in dep_time_2000. 
missingvalues = newyork_flight_new[(newyork_flight_new ['dep_delay'] == 'NaN')]
dep_time_2000['dep_delay'] = dep_time_2000['dep_delay'].fillna(dep_time_2000['dep_delay'].median())
#Automatically fills in any missing data with the median from dep delay 
dep_time_2000['dep_delay'].isna().sum()
#Checks if there is any missing values in dep_delay column

<ipython-input-25-738a5fb01246>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dep_time_2000['dep_delay'] = dep_time_2000['dep_delay'].fillna(dep_time_2000['dep_delay'].median())

0

In [29]:
#Q12 create a new dataframe by adding dep_delay and arr_delay and name it "total_delay". Add new column"total_delay" to the
#dep_time_2000
dep_time_2000['total_delay'] = dep_time_2000['dep_delay'] + dep_time_2000['arr_delay']
dep_time_2000.head()

<ipython-input-29-7cf3d58a3646>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dep_time_2000['total_delay'] = dep_time_2000['dep_delay'] + dep_time_2000['arr_delay']

    dep_time  dep_delay  arr_time  arr_delay tailnum  total_delay
13      2054      115.0      2256         91  N919AT        206.0
15      2024       37.0      2141         29  N17115         66.0
23      2310        3.0       201        127  N506JB        130.0
27      2253      123.0         5        101  N14562        224.0
38      2231      121.0      2332         96  N8488D        217.0